<!DOCTYPE html>
<html>
  <head>
    <title>Stats3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="1/application.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
